<div class="col-xs-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Added User</strong>
        </div>
        <div class="panel-body">
            <div data-ng-show="addedUser">
                <h1>User Added with following attributes:-</h1>
                <p ><label><strong>Id :</strong></label> <label>{{addedUser.id}}</label></p>
                <p ><label><strong>User Name :</strong></label> <label>{{addedUser.userName}}</label></p>
                <p ><label><strong>Name :</strong></label> <label>{{addedUser.name}}</label></p>
                <p ><label><strong>Email :</strong></label> <label>{{addedUser.email}}</label></p>
            </div>
        </div>
    </div>
</div>
