<div class="col-xs-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Added Device</strong>
        </div>
        <div class="panel-body">
            <div name ="deviceElement">
                        <div class="row user-row">
                            <div class="col-md-10">
                                <strong>{{addedDevice.model}} </strong><br>
                                 <span class="text-muted">{{addedDevice.os}} {{addedDevice.version}}</span>
                            </div>
                        </div>
                        
                        <!-- Add data-for class to this row -->
                        <div class="row user-infos ">
                            <div class="col-sm-10 col-md-10 col-md-offset-1">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Device information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>{{addedDevice.model}}</strong><br>
                                                <table class="table table-condensed table-responsive table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID: </td>
                                                        <td>{{addedDevice.id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>IMEI No(s): </td>
                                                        <td>{{addedDevice.IMEI}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>OS: </td>
                                                        <td>{{addedDevice.os}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Version:</td>
                                                        <td>{{addedDevice.version}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
