<div class="row">
    <nav class="col-xs-3 bs-docs-sidebar">
        <div class="panel panel-primary">
                <div class="panel-heading">Options</div>
                    <ul id="sidebar" class="nav nav-stacked">
                        <li>
                            <a href="#GroupA">Group A</a>
                        </li>
                        <li>
                            <a href="#GroupB">Group B</a>
                        </li>
                        <li>
                            <a href="#GroupC">Group C</a>
                        </li>
                    </ul>
        </div>
    </nav>
    <div class="col-xs-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Mobile Device Allocation Management</strong>
            </div>
            <div class="panel-body">
                <p> An open source application for Mobile Device management, allocation and tracking</p>
            </div>
        </div>
    </div>
    <!--<div  ng-view></div> -->
</div>