<div class="col-xs-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Your Details</strong>
        </div>
        <div class="panel-body">
            <p ng-show='id'><label><strong>Id :</strong></label> <label>{{id}}</label></p>
            <p ng-show='name'><label><strong>User Name :</strong></label> <label>{{name}}</label></p>
            <p ng-show='userName'><label><strong>Name :</strong></label> <label>{{userName}}</label></p>
            <p ng-show='email'><label><strong>Email :</strong></label> <label>{{email}}</label></p>
        </div>
    </div>
</div>
