<div class="col-xs-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>User Account</strong>
        </div>
        <div class="panel-body">
           <div name ="userElement">
                        <div class="row user-row">
                            <div class="col-md-10">
                                <strong>{{name}}</strong><br>
                                <span class="text-muted">{{userName}}</span>
                            </div>
                        </div>
                        
                        <!-- Add data-for class to this row -->
                        <div class="row user-infos {{name}}">
                            <div class="col-sm-10 col-md-10 col-md-offset-1">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">About</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>{{name}}</strong><br>
                                                <table class="table table-condensed table-responsive table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID: </td>
                                                        <td>{{id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>UserName: </td>
                                                        <td>{{userName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email:</td>
                                                        <td>{{email}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
