<link href="lib/adminTable.css" rel="stylesheet">
<div class="col-xs-7" ng-controller="UserListController">
     <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>User List</strong>
        </div>
        <div class="panel-body">
            <div class="well col-sm-12 col-md-8 col-md-offset-2">
                    <div name ="userElement" ng-repeat="person in users">
                        <div class="row user-row">
                            <div class="col-md-10">
                                <strong>{{person.name}}</strong><br>
                                <span class="text-muted">{{person.userName}}</span>
                            </div>
                        </div>
                        
                        <!-- Add data-for class to this row -->
                        <div class="row user-infos {{person.name}}">
                            <div class="col-sm-10 col-md-10 col-md-offset-1">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">User information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>{{person.name}}</strong><br>
                                                <table class="table table-condensed table-responsive table-user-information">
                                                    <tbody>
                                                    <tr>
                                                        <td>ID: </td>
                                                        <td>{{person.id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>UserName: </td>
                                                        <td>{{person.userName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email:</td>
                                                        <td>{{person.email}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                    <button class="btn btn-sm btn-warning" type="button"
                                                    data-toggle="tooltip"
                                                    data-original-title="Edit this user"><i class="glyphicon glyphicon-edit" ng-click="editUser(person)" ></i></button>
                                        <span class="pull-right">
                                            
                                            <button class="btn btn-sm btn-danger" type="button"
                                                    data-toggle="tooltip"
                                                    data-original-title="Remove this user" ><i class="glyphicon glyphicon-remove" ng-click="deleteUser(person)" ></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<script src="scripts/userTable.js"></script>-->